<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    {% endif %}
    <h2>Edit Quote</h2>
    <form action="/updateQuote/{{quoteToEdit.id}}" method="post">
    {% csrf_token %}
    Author:<input type="text" name='form_author' id='' value="{{quoteToEdit.author}}">
    Quote:<input type="textarea" name='form_quote' id='' value="{{quoteToEdit.content}}">
    <p><input type="submit" value="Update"></p>
</body>
</html>